* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

a {
  color: #000;
  text-decoration: none;
}

.blue-link {
  display: inline-block;
  padding: 16px;
  background-color: #003CFF;
  border-radius: 16px;
  font-family: "Ubuntu";
  font-size: 16px;
  line-height: 112%;
  letter-spacing: 0.02em;
  font-feature-settings: "salt" on, "liga" off;
  color: #fff;
}

.wrapper {
  width: 1300px;
  margin: auto;
}
.wrapper .header #burger, .wrapper .header [for=burger] {
  display: none;
}
.wrapper .header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}
.wrapper .header .nav__home-link {
  font-family: "Ubuntu";
  font-weight: 700;
  font-size: 24px;
  line-height: 112%;
  letter-spacing: 0.02em;
  color: #B4387A;
}
.wrapper .header .nav__links {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: 5%;
}
.wrapper .header .nav__links-link {
  font-family: "Ubuntu";
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: 0.02em;
  font-feature-settings: "salt" on, "liga" off;
}
.wrapper .main .design {
  margin-top: 130px;
  display: flex;
  justify-content: space-between;
}
.wrapper .main .design .info {
  width: 48%;
}
.wrapper .main .design .info__title {
  font-family: "Ubuntu";
  font-weight: 700;
  font-size: 48px;
  line-height: 104%;
  color: #1C1C1E;
  margin-bottom: 36px;
}
.wrapper .main .design .cards {
  display: grid;
  grid-template-areas: "img img" "img img";
  grid-gap: 16px;
}
.wrapper .main .design .cards__item {
  grid-area: "img";
}
.wrapper .main .features {
  margin-top: 112px;
  display: flex;
  gap: 75px;
}
.wrapper .main .features__img-container img {
  width: 100%;
}
.wrapper .main .features .content {
  margin-top: 75px;
}
.wrapper .main .features .content__title {
  font-family: "Rubik";
  font-weight: 500;
  font-size: 35px;
  line-height: 143%;
  color: #0B132A;
  margin-bottom: 20px;
}
.wrapper .main .features .content__subtitle {
  font-family: "Rubik";
  font-weight: 400;
  font-size: 16px;
  line-height: 188%;
  color: #4F5665;
  margin-bottom: 25px;
}
.wrapper .main .features .content .features-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.wrapper .main .features .content .features-list__item {
  display: flex;
  gap: 16px;
  font-family: "Rubik";
  font-weight: 400;
  font-size: 14px;
  line-height: 214%;
  color: #4F5665;
}
.wrapper .main .exchange {
  background: linear-gradient(358.2deg, rgba(178, 178, 178, 0.8) 8.06%, rgba(178, 178, 178, 0) 67.93%), rgba(244, 244, 244, 0.9);
  mix-blend-mode: normal;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(187, 187, 187, 0.2);
  border-radius: 28px;
  margin-top: 50px;
  padding: 32px;
  font-family: "Ubuntu";
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.wrapper .main .exchange-main__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 167%;
  color: #1C1C1E;
  margin-bottom: 25px;
}
.wrapper .main .exchange-main__subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 250%;
  margin-bottom: 32px;
}
.wrapper .main .exchange-main .rates-list {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 32px;
  width: 60%;
}
.wrapper .main .exchange-main .rates-list__item {
  width: 120px;
  min-width: calc(33% - 32px);
  font-weight: 700;
  font-size: 20px;
  line-height: 112%;
  letter-spacing: 0.02em;
}
.wrapper .main .exchange-main .rates-list__item .rate-name {
  margin-right: 20px;
  color: #808080;
}
.wrapper .main .exchange-main__all-rates-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 112%;
  letter-spacing: 0.02em;
  color: #fff;
}
.wrapper .main .exchange-aside {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
}
.wrapper .main .exchange-aside__last-update {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
}
.wrapper .main .map {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  font-family: "Ubuntu";
  font-weight: 500;
  line-height: 50px;
}
.wrapper .main .map__title {
  margin-bottom: 8px;
  font-size: 30px;
}
.wrapper .main .map__subtitle {
  margin-bottom: 50px;
  font-size: 16px;
}
.wrapper .main .map__img {
  width: 81.5%;
}
.wrapper .main .news {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
}
.wrapper .main .news__title {
  font-family: "Ubuntu";
  font-weight: 500;
  line-height: 50px;
  font-size: 30px;
  text-align: center;
}
.wrapper .main .news__subtitle {
  font-family: "Ubuntu";
  font-weight: 500;
  line-height: 50px;
  font-size: 16px;
  margin-top: 8px;
  text-align: center;
}
.wrapper .main .news-slider {
  width: 100%;
  overflow: hidden;
}
.wrapper .main .news-slider__line {
  transition: all ease 0.5s;
  position: relative;
  left: 0;
  display: flex;
  gap: 80px;
  margin-top: 48px;
}
.wrapper .main .news-slider__line .news-card {
  cursor: pointer;
  min-width: 320px;
  background-color: #fff;
  padding: 32px;
  border-radius: 28px;
  display: inline-flex;
  flex-direction: column;
  gap: 32px;
}
.wrapper .main .news-slider__line .news-card__img {
  width: 256px;
  height: 120px;
  overflow: hidden;
  position: relative;
}
.wrapper .main .news-slider__line .news-card__img img {
  position: absolute;
  width: 100%;
  height: auto;
}
.wrapper .main .news-slider__line .news-card__title {
  overflow: hidden;
  display: block;
  height: 104px;
  font-family: "Ubuntu";
  font-weight: 500;
  font-size: 20px;
  line-height: 125%;
  text-align: center;
}
.wrapper .main .news-slider__line .news-card__description {
  overflow: hidden;
  display: block;
  height: 96px;
  font-family: "Ubuntu";
  font-weight: 500;
  font-size: 16px;
  line-height: 144%;
  text-align: center;
}
.wrapper .main .news-btns {
  margin-top: 48px;
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 20px;
}
.wrapper .main .news-btns__item {
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 50%;
  padding: 20px;
  background-color: #003CFF;
}
.wrapper .main .news-btns__item svg path {
  stroke: #fff;
}
.wrapper .main .news-btns__item:disabled {
  border: 1px solid #003CFF;
  background-color: #fff;
}
.wrapper .main .news-btns__item:disabled svg path {
  stroke: #222;
}
.wrapper .main .subscription {
  margin-top: 175px;
  font-family: "Ubuntu";
  line-height: 147.4%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper .main .subscription__title {
  font-weight: 700;
  font-size: 24px;
  color: #EB801D;
}
.wrapper .main .subscription__subtitle-firstline {
  font-size: 30px;
  color: #1C1C1E;
  margin-top: 30px;
  font-weight: 700;
}
.wrapper .main .subscription__subtitle-secondline {
  font-size: 30px;
  color: #1C1C1E;
  margin-top: 25px;
  font-weight: 500;
}
.wrapper .main .subscription .input {
  margin-top: 60px;
  padding: 22px 32px;
  border-radius: 20px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(54, 58, 120, 0.1);
  display: flex;
  align-items: center;
}
.wrapper .main .subscription .input__field {
  width: 250px;
  margin: 0 10px;
  border: none;
  outline: none;
}
.wrapper .main .subscription .input__field::-moz-placeholder {
  font-weight: 400;
  font-size: 20px;
  line-height: 147.4%;
  letter-spacing: 0.02em;
  color: #9092B0;
}
.wrapper .main .subscription .input__field:-ms-input-placeholder {
  font-weight: 400;
  font-size: 20px;
  line-height: 147.4%;
  letter-spacing: 0.02em;
  color: #9092B0;
}
.wrapper .main .subscription .input__field, .wrapper .main .subscription .input__field::placeholder {
  font-weight: 400;
  font-size: 20px;
  line-height: 147.4%;
  letter-spacing: 0.02em;
  color: #9092B0;
}
.wrapper .main .subscription .input-button {
  padding: 10px 33px 10px 13px;
  border-radius: 20px;
  background-color: #686DF1;
  border: none;
  display: flex;
  align-items: center;
  gap: 18px;
}
.wrapper .main .subscription .input-button__icon {
  width: 22px;
  height: 24px;
}
.wrapper .main .subscription .input-button__text {
  font-family: "Ubuntu";
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}

.footer {
  background: linear-gradient(0deg, rgba(178, 178, 178, 0.2), rgba(178, 178, 178, 0.2)), #F4F4F4;
  margin-top: 100px;
  padding: 5.2% 12.3% 5.3%;
  width: 100%;
}
.footer__container {
  max-width: 1300px;
}
.footer__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.footer__main .contacts {
  display: flex;
  flex-direction: column;
}
.footer__main .contacts__phone {
  font-family: "Ubuntu";
  font-weight: 700;
  font-size: 30px;
  line-height: 147.4%;
  color: #000000;
  margin-bottom: 6px;
}
.footer__main .contacts__email {
  font-family: "Ubuntu";
  font-weight: 500;
  font-size: 16px;
  line-height: 147.4%;
  letter-spacing: 0.02em;
  color: #2D3748;
}
.footer .links {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 8px;
}
.footer .links__item {
  font-family: "Ubuntu";
  font-weight: 500;
  font-size: 16px;
  line-height: 147.4%;
  letter-spacing: 0.02em;
  color: #000;
}
.footer__line {
  height: 1px;
  width: 100%;
  margin: 28px 0 32px;
  background-color: #fff;
}
.footer__cookies-info {
  font-family: "Ubuntu";
  font-weight: 500;
  font-size: 16px;
  line-height: 147.4%;
  letter-spacing: 0.02em;
  color: #2D3748;
}

@media screen and (max-width: 1300px) {
  .wrapper {
    width: 80%;
  }
  .wrapper .blue-link {
    padding: 14px;
    border-radius: 14px;
    font-size: 14px;
  }
  .wrapper .main .design {
    margin-top: 75px;
    flex-direction: column;
    justify-content: center;
  }
  .wrapper .main .design .info {
    text-align: center;
    width: 100%;
  }
  .wrapper .main .design .info__title {
    font-size: 38px;
    margin-bottom: 30px;
  }
  .wrapper .main .design .cards {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .wrapper .main .design .cards__item {
    width: calc(50% - 12px);
    display: flex;
    justify-content: end;
  }
  .wrapper .main .design .cards__item:nth-child(even) {
    justify-content: start;
  }
  .wrapper .main .features {
    margin-top: 70px;
    gap: 50px;
  }
  .wrapper .main .features .content {
    margin: 0;
  }
  .wrapper .main .features .content__title {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .wrapper .main .features .content__subtitle {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .wrapper .main .features .content .features-list {
    gap: 5px;
  }
  .wrapper .main .features .content .features-list__item {
    display: flex;
    gap: 16px;
    font-size: 14px;
  }
  .wrapper .main .exchange {
    border-radius: 24px;
    padding: 28px;
  }
  .wrapper .main .exchange-main__title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .wrapper .main .exchange-main__subtitle {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .wrapper .main .exchange-main .rates-list {
    margin-bottom: 30px;
    gap: 24px;
    width: 80%;
  }
  .wrapper .main .exchange-main .rates-list__item .rate-name {
    margin-right: 10px;
  }
  .wrapper .main .exchange-main__all-rates-link {
    font-size: 18px;
  }
  .wrapper .main .exchange-aside__last-update {
    text-align: right;
  }
  .wrapper .main .map {
    margin-top: 50px;
    text-align: center;
  }
  .wrapper .main .subscription {
    margin-top: 100px;
  }
  .wrapper .main .subscription__title {
    font-size: 22px;
  }
  .wrapper .main .subscription__subtitle-firstline {
    margin-top: 20px;
    font-size: 28px;
  }
  .wrapper .main .subscription__subtitle-secondline {
    margin-top: 20px;
    font-size: 28px;
  }
  .wrapper .main .subscription .input {
    margin-top: 40px;
    padding: 12px 22px;
    border-radius: 16px;
  }
  .wrapper .main .subscription .input__icon {
    width: 24px;
    height: 27px;
    margin-bottom: 1px;
  }
  .wrapper .main .subscription .input__field {
    outline: none;
  }
  .wrapper .main .subscription .input__field::-moz-placeholder {
    font-size: 18px;
  }
  .wrapper .main .subscription .input__field:-ms-input-placeholder {
    font-size: 18px;
  }
  .wrapper .main .subscription .input__field, .wrapper .main .subscription .input__field::placeholder {
    font-size: 18px;
  }
  .wrapper .main .subscription .input-button {
    padding: 10px 22px 10px 10px;
    border-radius: 18px;
    gap: 10px;
  }
  .wrapper .main .subscription .input-button__icon {
    height: 20px;
  }
  .wrapper .main .subscription .input-button__text {
    font-size: 14px;
  }
  .footer {
    padding: 4.2% 8.3%;
  }
  .footer__main {
    margin-bottom: 22px;
  }
  .footer__main .contacts__phone {
    font-size: 24px;
  }
  .footer .links {
    -moz-column-gap: 22px;
         column-gap: 22px;
    row-gap: 6px;
  }
  .footer__line {
    margin: 24px 0 28px;
  }
  .footer__cookies-info {
    font-size: 14px;
  }
}
@media screen and (max-width: 920px) {
  .wrapper {
    width: 80%;
  }
  .wrapper .header {
    transition: all 400ms cubic-bezier(0.5, 1, 0.32, 1);
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
  }
  .wrapper .header [for=burger] {
    display: block;
    font-size: 40px;
  }
  .wrapper .header .nav {
    display: none;
    transition: all 400ms cubic-bezier(0.5, 1, 0.32, 1);
    opacity: 0;
    height: 0;
    flex-direction: column;
    align-items: start;
  }
  .wrapper .header .nav__home-link {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
  }
  .wrapper .header .nav__links {
    flex-direction: column;
    gap: 16px;
    margin-bottom: 25px;
  }
  .wrapper .header .nav__links-link {
    font-size: 24px;
  }
  .wrapper .header:has(#burger:checked) {
    background-color: rgba(217, 217, 217, 0.6);
    box-shadow: 0px 6px 15px 0px rgba(217, 217, 217, 0.6);
  }
  .wrapper .header:has(#burger:checked) .nav {
    height: auto;
    opacity: 1;
    display: block;
  }
  .wrapper .main .design .info__title {
    font-size: 30px;
  }
  .wrapper .main .design .cards__item img {
    width: 200px;
  }
  .wrapper .main .features {
    flex-direction: column;
    align-items: center;
  }
  .wrapper .main .features__img-container {
    width: 300px;
  }
  .wrapper .main .map__title {
    line-height: 40px;
    margin-bottom: 20px;
  }
  .wrapper .main .map__subtitle {
    line-height: 24px;
  }
  .wrapper .main .subscription {
    margin-top: 50px;
  }
  .wrapper .main .subscription .input__field {
    width: 200px;
  }
  .footer {
    padding: 3.2% 6.3%;
  }
  .footer__main .contacts__phone {
    font-size: 22px;
  }
}/*# sourceMappingURL=styles.css.map */