.cards {
    margin-top: 50px;
    display: grid;
    grid-template-areas: 
    'a a b b c c'
    'd d d e e e';
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 40px;
}

@media screen and (max-width: 1300px) {
    .cards {
        grid-template-areas: 
        'a b'
        'd c'
        'e e';
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 920px) {
    .cards {
        grid-template-areas: 
        'a'
        'b'
        'c'
        'd'
        'e'
        'f';
        grid-template-columns: 1fr;
    }
}