.container {
    font-family: 'Ubuntu';
    position: relative;
    img {
        position: absolute;
        right: 22px;
        top: 42px;
    }
    &__select {
        appearance: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 15px;
        width: 100%;
        background: #F9F5E3;
        border: 2px solid rgba(128, 128, 128, 0.2);
        border-radius: 6px;
        padding: 13px 16px;
        outline: none;
        &:focus {
            border: 2px solid #5B35D5;
        }
    }
}