.container {
    display: flex;
    align-items: center;
    gap: 14px;
    input {
        margin: 0;
        width: 20px;
        height: 20px;
    }
    label {
        font-weight: 400;
        font-size: 18px;
        line-height: 112%;
        color: #1A202C;
    }
}

@media screen and (max-width: 750px) {
    .container {
        label {
            font-size: 14px;
        }
    }
}