.news-card {
    cursor: pointer;
    min-width: 320px;
    background-color: #fff;
    padding: 32px;
    border-radius: 28px;
    display: inline-flex;
    flex-direction: column;
    gap: 32px;
    &__img {
        width: 256px;
        height: 120px;
        overflow: hidden;
        position: relative;
        img {
            position: absolute;
            width: 100%;
            height: auto;
        }
    }
    &__title {
        overflow: hidden;
        display: block;
        height: 104px;
        font-family: 'Ubuntu';
        font-weight: 500;
        font-size: 20px;
        line-height: 125%;
        text-align: center;
    }
    &__description {
        overflow: hidden;
        display: block;
        height: 96px;
        font-family: 'Ubuntu';
        font-weight: 500;
        font-size: 16px;
        line-height: 144%;
        text-align: center;
    }
}