.container {
    margin-top: 24px;
    background: #fff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 28px;
    padding: 32px;
    font-family: 'Ubuntu';
    .title {
        display: flex;
        align-items: center;
        gap: 80px;
        margin-bottom: 43px;
        &__tableName {
            font-weight: 700;
            font-size: 30px;
            line-height: 100%;
        }
        &__step {
            font-weight: 500;
            font-size: 16px;
            line-height: 100%;
        }
    }
    .decision {
        margin-top: 43px;
        display: flex;
        align-items: center;
        gap: 40px;
        &__checkbox {
           margin-left: auto;
        }
        button {
            border-radius: 8px;
            padding: 11px 28px;
            font-weight: 700;
            font-size: 16px;
            line-height: 112%;
            letter-spacing: 0.02em;
            font-feature-settings: 'salt' on, 'liga' off;
            color: #fff;
            border: none;
            cursor: pointer;
        }
        &__denyBtn {
            background: rgba(217, 55, 55, 0.8);
        }
        &__sendBtn {
            background: #003CFF;
            &:disabled {
                background: #7796C0;
            }
        }
    }
}

.notification__container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}