.prompt {
    position: absolute;
    top: 47px;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.02em;
    line-height: 100%;
    color: #FFFFFF;
    display: block;
    background: #3D3D3D;
    padding: 8px 7px;
    width: 170px;
}